* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f1f1f1;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display: flex;
  justify-content: space-between;
  /* background: #087eb7; */
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.11);
  background-color: #fff;
  padding-top: 16px;
  padding-bottom: 16px;

  padding-left: 34px;
  padding-right: 34px;
}

.header-menu {
}
.header-menu-link {
  color: #000;
  text-decoration: none;
}

.header-login {
}

.header-login-link {
  /* color: #fff; */
  cursor: pointer;
}

.icon-close,
.icon-edit {
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-close {
  background-image: url(./assert/cancel.png);
}

.icon-edit {
  background-image: url(./assert/edit.png);
}

.app {
}
.app-container {
  padding-top: 42px;
  padding-bottom: 42px;
  padding-left: 32px;
  padding-right: 32px;
}
